<div class="reg-container">
  <%# ここから左側のメイン %>
  <div class="reg-left-main">
    <h1 class="reg-first-message">Welcome to Yn's.<h1>
    <h1 class="reg-second-message">Let's make happy memories.</h1>
  </div>
  <%# ここまで左側のメイン %>

  <%# ここからフォーム部分 %>
  <div class="reg-form-container">
    <div class="reg-form">
      <h2 class="freg-orm-title">Sign up</h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'reg-sign-up-form'}) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="reg-field">
          <%= f.label :nickname, class: "reg-field-label" %><br />
          <%= f.text_field :nickname, class: "reg-field-input", autofocus: true %>
        </div>

        <div class="reg-field">
          <%= f.label :email, class: "reg-field-label" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "reg-field-input" %>
        </div>

        <div class="reg-field">
          <%= f.label :password, class: "reg-field-label" %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> 文字以上)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password", class: "reg-field-input" %>
        </div>

        <div class="reg-field">
          <%= f.label :password_confirmation, class: "reg-field-label" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "reg-field-input" %>
        </div>

        <div class="reg-actions">
          <%= f.submit "Sign up", class: "reg-submit" %>
        </div>
        <div class="reg-back-to-root">
          <%= link_to '◀︎ Back', root_path, class: "reg-back" %>
         </div>
      <% end %>
    </div>
    
  </div>
  <%# ここまでフォーム部分 %>
</div>
