<div class="index-wrapper">
  <div class="index-container">
    <div class="index-upper">
      <div class="index-upper-menu">

        <% if user_signed_in? %>
          <div class="index-when-sign-in-menu">
            <p class="index-login-user"><%= "こんにちは、#{current_user.nickname} さん" %></p>
            <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'index-sign-out' %>
          </div>
          <div class="index-center-menu">
            <%= link_to 'new post', new_article_path, class: "index-new-post" %>
            <%= link_to 'favorite', root_path, class: "index-favorite" %>
            <div class="index-search">
              <%= form_with url: search_articles_path, local: true, method: :get, html: { class: "search-form" } do |f| %>
                <%= f.text_field :search, class: "index-search-field" %>
                <%= f.submit 'search', class: "index-submit" %>
              <% end %>
            </div>
          </div>
        <% else %>
          <div class="index-when-sign-out-menu">
            <%= link_to 'Sign up', new_user_registration_path, class: "index-sign-up" %>
            <%= link_to 'Sign in', new_user_session_path, class: "index-sign-in" %> 
          </div>
        <% end %>

        
        
      </div>
      <div class="index-messages">
        <h1 class="index-first-message"><span class="index-y">Y</span><span class="index-n">n</span> ' s</h1>
        <h1 class="index-second-message">G A L L E L Y</h1>
        <h2 class="index-third-message">Memories last forever.</h2>
        <h2 class="index-fourth-message">Well, where shall we go next?</h2>
      </div>
    </div>
      
    <% if user_signed_in? && @articles.present?%>
      <div class="index-photo-background">
        <p class="index-new-arrival">N e w&nbsp; &nbsp;a r r i v a l</p>
        <div class="index-photos">
          <% @articles.each do |article| %>
            <div class="index-photo-box">
              <%= link_to image_tag(article.image, class: "index-photo"), article_path(article) %>
              <div class="index-favorites">
                <%# お気に入りの記述 %>
                <% if current_user.already_favorited?(article) %>
                  <%= link_to article_favorites_path(article), method: :delete do %>
                    <i class="fas fa-heart"></i>
                  <% end %>
                <% else %>
                  <%= link_to article_favorites_path(article), method: :post do %>
                    <i class="far fa-heart"></i>
                  <% end %>
                <% end %>
                <span class="index-favorite-count"><%= article.favorites.count %></span>
                <%# ここまで %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
    <p class="index-copyright">©︎2022 Yuki Ohira</p>
  </div>
</div>
