<div class="show-wrapper">
  <div class="show-container">
    <div class="show-upper">
      <div class="show-photo">
        <%= image_tag @article.image.variant(resize: '1000x800'), class:"show-upper-photo"%>
      </div>
    </div>
    <div class="show-under">
      <div class="show-content">
        <ul class="show-items">
          <li class="show-name">名前：<%= @article.name %></li>
          <li class="show-category">カテゴリー：<%= @article.category.name %></li>
          <li class="show-address">住所：<%= @article.address %></li>
          <li class="show-link">URL：<%= link_to "#{@article.url}", class: "show-url" %></li>
        </ul>
      </div>
      <div class="show-menus">
        <%= link_to 'Top Pageへ戻る', root_path %>
        <%= link_to 'Edit', article_path(@article), class: "show-edit" %>
        <%= link_to 'Delete', article_path(@article), method: :delete, data: {confirm: "本当に削除しますか？"}, class: "show-delete" %>
      </div>
    </div>
  </div>
</div>