<div class="show-wrapper">
  <div class="show-container">
    <div class="show-upper">
      <div class="show-photo">
        <%= image_tag @article.image.variant(resize: '1000x800'), class:"show-upper-photo"%>
      </div>
      <div class="show-favorites">
        <%# お気に入りの記述 %>
        <% if current_user.already_favorited?(@article) %>
          <%= link_to article_favorites_path(@article), method: :delete do %>
            <i class="fas fa-heart"></i>
          <% end %>
        <% else %>
          <%= link_to article_favorites_path(@article), method: :post do %>
            <i class="far fa-heart"></i>
          <% end %>
        <% end %>
        <span class="show-favorite-count"><%= @article.favorites.count %></span>
        <%# ここまで %>
      </div>
    </div>
    <div class="show-under">
      <div class="show-content">
        <ul class="show-items">
          <li class="show-name">名前：<%= @article.name %></li>
          <li class="show-category">カテゴリー：<%= @article.category.name %></li>
          <li class="show-address">住所：<%= @article.address %></li>
          <li class="show-link">URL：<%= link_to "#{@article.url}", class: "show-url" %></li>
        </ul>
      </div>
      <div class="show-comment-wrapper">
        <div class="show-comments">
          <hr class="show-line">
          <h4 class="show-comment-title">＜コメント一覧＞</h4>
          <div class="show-comment-body">
            <% @comments.each do |comment|%>
              <div class="show-comment-sentence">
                <strong><%= comment.user.nickname %></strong>：<%= comment.text %>
                <% if user_signed_in? && current_user.id == comment.user_id %>
                  <%= link_to 'Delete', article_comment_path(comment.article.id, comment.id), method: :delete, data: {confirm: "コメントを削除しますか？"}, class:"show-comment-delete" %><br>
                <% end %>
              </div>
            <% end %>
          </div>
          <div>
            <%= paginate @comments %>
          </div>
          <div class="show-comment-form-contents">
            <%= form_with model: [@article, @comment], class: "show-comment-form", local: true do |f| %>
              <%= f.text_area :text, class: "show-comment-area", cols: "55", rows: "5" %>
              <%= f.submit 'Send', class: "show-comment-submit" %>
            <% end %>
          </div>
          <div class="show-menus-container">
            <hr class="show-line">
            <div class="show-menus">
              <%= link_to '◀︎ Top Pageへ戻る', root_path, class: "show-root" %>
              <%= link_to 'Edit', edit_article_path(@article), class: "show-edit" %>
              <%= link_to 'Delete', article_path(@article), method: :delete, data: {confirm: "本当に削除しますか？"}, class: "show-delete" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>