<% content_for :css do %>
  <%= stylesheet_link_tag "article/show", :media => "all" %>
<% end %>

<div class="wrapper">
  <div class="container">
    <div class="upper">
      <div class="photo">
        <%= image_tag @article.image.variant(resize: '1200x800'), class:"upper-photo"%>
      </div>
    </div>
    <div class="under">
      <div class="content">
        <ul class="items">
          <li class="name">名前：<%= @article.name %></li>
          <li class="category">カテゴリー：<%= @article.category.name %></li>
          <li class="address">住所：<%= @article.address %></li>
          <li class="link">URL：<%= link_to "#{@article.url}", class: "url" %></li>
        </ul>
      </div>
      <div class="menus">
        <%= link_to 'Top Pageへ戻る', root_path %>
        <%= link_to 'Edit', root_path %><%# 後で変更 %>
        <%= link_to 'Delete', root_path %><%# 後で変更 %>
      </div>
      <p class="copyright">©︎2022 Yuki Ohira</p>
    </div>
  </div>
</div>