<div class="ses-container">
  <div class="ses-form">
    <h2 class="ses-form-title">Log in</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'ses-sign-in-form'}) do |f| %>
      <div class="ses-field">
        <%= f.label :email, class: "ses-field-label" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "ses-field-input" %>
      </div>

      <div class="ses-field">
        <%= f.label :password, class: "ses-field-label" %><br />
        <%= f.password_field :password, autocomplete: "current-password", class: "ses-field-input" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="ses-field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="ses-actions">
        <%= f.submit "Log in", class: "ses-submit" %>
      </div>
    <% end %>
    <div class="ses-back-to-root">
      <%= link_to '◀︎ Back', root_path, class: "ses-back" %>
    </div>
  </div>
</div>
